<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cosmos.admin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.cosmos.admin.domain.entity.User">
        <id column="id" property="id"/>
        <result column="avatar" property="avatar"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <result column="is_active" property="active"/>
    </resultMap>

    <select id="selectUserList" resultMap="BaseResultMap" parameterType="org.cosmos.admin.mapper.UserQuery">
        SELECT
        u.name,
        u.avatar,
        u.account,
        u.salt,
        u.gender,
        u.email,
        u.is_active
        FROM sys_user AS u
        <where>
            <if test="name!=null and name!=''">u.name=#{name}</if>
        </where>
    </select>
</mapper>
